<p>Estimado docente:</p>

<p>{{ description }}</p>



<p>Nos encantaría contar con su aprobación. Por favor, confirme haciendo clic en una de las siguientes opciones:</p>

<table>
    <tr>
        <td>
            <form action="{{  }}" method="post" style="display: inline;">
                <button type="submit"
                    style="background-color: blue; color: white; padding: 10px 20px; border: none; cursor: pointer;">Aceptar solicitud</button>
            </form>
        </td>
        <td>
            <form action="{{  }}" method="post" style="display: inline;">
                <button type="submit"
                    style="background-color: gray; color: white; padding: 10px 20px; border: none; cursor: pointer;">Rechazar</button>
            </form>
        </td>
    </tr>
</table>

<p>¡Esperamos verte allí!</p>